.post .categories {
  font-family: var(--font-heading);
  font-size: var(--font-size-300);
  text-transform: uppercase;
  color: var(--clr-neutral-600);
  
  ul{
    display: flex;
    justify-content: center;

    & > *{
      display: inline-block;
      padding: var(--spc-100) var(--spc-300);
    }

    & > * + *{
      border-left: 2px solid var(--nav-clr);
    }
  }
}