.decorated-heading{
  margin-block-start: #{ nth($spacing, 5) };
  margin-block-end: #{ nth($spacing, 7) };
 
  & > h2 {
    font-size:28px;
    font-weight: 500;
  }

  & > h3 {
    --decorated-color: var(--decorated-heading-clr, var(--clr-primary-400));
    font-family: var(--font-family-secondary);
    font-size: var(--font-size-300);
    font-style: italic;
    color: var(--decorated-color);


    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    align-items: center;

    &::after {
      content: "";
      display: inline-block;
      flex-grow: 10;
      height: 2px;
      border-radius: 100rem;
      background-color: var(--decorated-color);
    }
  }
}
