.home-hero{
  flex-direction: column;
  align-items: center;
  justify-content: center;;
  --flex-gap: #{nth($spacing, 7)};
  --flex-row-gap: #{nth($spacing, 8)};

}

.home-hero__text{
  width: clamp(313px, 100%, 515px);
}


.home-hero__img{
  position: relative;
  width: clamp(360px, 100%, 503px);

  img{
    width: clamp(360px, 100%, 503px);
  }
}

@media (min-width: 794px){
  .home-hero {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}
