.home-hero{
  justify-content: center;
  align-content: flex-start;
  --flex-gap: #{nth($spacing, 10)};
  --flex-row-gap: #{nth($spacing, 8)};

}

.home-hero__text{
  max-width: 313px;
}


.home-hero__img{
  position: relative;
  max-width: 503px;
}

@media (min-width: 849px){

}
