.home-services{
    --container-width: calc(100% - 2rem);

    --h2-size: 1.75rem; 
    margin-top: 5rem;
    padding-inline: 5rem;
    padding-block: 1.5rem;
    border-radius: 1.5rem;
}

.home-services__header{
    --flow-space: 0rem;

}

.home-services__subtitle {
    --flex-gap: .75rem;
    font-size: var(--font-size-200);
    & > img {
        width: 22px;
        height: 22px;
    }
}

.home-services__pullout {
    font-size: 14px;
}

.home-services__panel {
    --flow-space: 3rem;
    margin-top: 3rem;
}

.home-services__cta{
  display:  inline-flex;
  align-items: center;
  flex-basis: auto;

  & > img{
    display:  inline-block;
    max-width: 1.25rem;
    margin-right: .5rem;
  }
}
