.home-advisory{
  padding-bottom: #{nth($spacing, 10)};
  padding-top: #{nth($spacing, 6)};

  &__heading{
    margin-bottom: #{nth($spacing, 9)} ;
  }

  &__list{

    & > * {
      --flow-space: #{ nth($spacing, 7) };
    }

  }

}
