.post{
  ul{
    margin-left: 0;
    padding: 0;
  }
  
  .title{
    padding-top: var(--spc-700);
  }

  .article {
    margin-top: var(--spc-1000);

  }

  .article h2,
  .article h3{
    color: var(--clr-shade-500);
  }

  .article h2 {
    border-left: 5px solid var(--accent-clr);
    padding-left: var(--spc-400);
    --flow-space: var(--spc-900);
  }

  .article h3 {
    --flow-space: var(--spc-600);
  }

  .article > h3 + * {
    --flow-space: .1rem;
  }
}