<main aria-label="Main Header" class="home-main | full-bleed">
  <article aria-labelledby="mainHeading" class="home-hero | container |flow flex row">
    <article class="home-hero__text | flow">
      <h2 id="mainHeading">Transform your Business Today</h2>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Modi, quis dolorem nostrum atque, corporis
        alias id amet ea molestiae inventore beatae rem? Ratione, expedita iste?</p>
      <a href="#" class="button">GET IN TOUCH</a>
    </article>
    <article aria-labelledby="heroImageHeader" class="home-hero__img">
      <h3 id="heroImageHeader" class="img-tab | weight-regular txt-clr-grey-300"><span
          class="txt-clr-grey-700 | semibold">Latest</span>
        Products</h3>
      <img src="https://dummyimage.com/503x337/ccc/333" alt="">
    </article>
  </article>
</main>