<main aria-label="Main Header">
  <article aria-labelledby="mainHeading">
    <article class="flow">
      <h2 id="mainHeading">Transform your Business Today</h2>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Modi, quis dolorem nostrum atque, corporis
        alias id amet ea molestiae inventore beatae rem? Ratione, expedita iste?</p>
      <a href="#" class="button">GET IN TOUCH</a>
    </article>
    <article aria-labelledby="heroImageHeader">
      <h3 id="heroImageHeader">Latest Products</h3>
      <img src="https://dummyimage.com/503x337/ccc/333" alt="">
    </article>
  </article>
</main>