<article aria-label="Blog Posts">
    <header>
      <h2 id="productsHeading">Check out our Blog Posts</h2>
      <h3>Latest Works</h3>
    </header>
    <section>
        <h3>Latest Articles</h3>

        <article aria-label="Lorem Post 1">
            <img src="https://dummyimage.com/332x185/ccc/333" alt="">
            <section>
                <h4>How do you write a good Brand Story</h4>
                <time><span>09<span><span>June 2022</span></time>
            </section>
        </article>

        <article aria-label="Lorem Post 1">
            <img src="https://dummyimage.com/332x185/ccc/333" alt="">
            <section>
                <h4>How do you write a good Brand Story</h4>
                <time><span>09<span><span>June 2022</span></time>
            </section>
        </article>

        <article aria-label="Lorem Post 1">
            <img src="https://dummyimage.com/332x185/ccc/333" alt="">
            <section>
                <h4>How do you write a good Brand Story</h4>
                <time><span>09<span><span>June 2022</span></time>
            </section>
        </article>
    </section>

    <section>
        <h3>View All Articles</h3>
        <a href="/" class="button">VIEW ALL ARTICLES</a>
    </section>
</article>