<article class="home-advisory | container |" aria-label="Business Automation Pointers">
  <header class = "home-advisory__heading | decorated-heading | flow flex col-reverse | ">
    <h2 id="businessAutomationHeading">Should I Automate your business?</h2>
    <h3>Consultation Service</h3>
  </header>

  <section class="home-advisory__list | flow | " aria-label="Automation ideas for business">
    <article> 
        <img src="/assets/images/icons/square-nodes-icon.svg" alt="">
        <h3 class="mt-4">Lorem Ipsum New</h3>
        <p>A lorem ipsum software for presenting and reprising indutry an revolution eA lorem ipsum software for presenting and reprising indutry an revolution etc for new</p>
    </article>
    <article>
        <img src="/assets/images/icons/cmd-icon.svg" alt="">
        <h3 class="mt-4">Lorem Ipsum New</h3>
        <p>A lorem ipsum software for presenting and reprising indutry an revolution eA lorem ipsum software for presenting and reprising indutry an revolution etc for new</p>
    </article>
    <article>
        <img src="/assets/images/icons/three-circles-icon.svg" alt="">
        <h3 class="mt-4">Lorem Ipsum New</h3>
        <p>A lorem ipsum software for presenting and reprising indutry an revolution eA lorem ipsum software for presenting and reprising indutry an revolution etc for new</p>
    </article>
  </section>

</article>
