<article class="home-blog-list | container" aria-label="Blog Posts">
  <header class="decorated-heading flow flex col-reverse">
    <h2 id="productsHeading">Check out our Blog Posts</h2>
    <h3>Latest Works</h3>
  </header>
  <section class="home-blog-list__panel">
    <h3 class="visually-hidden">Latest Articles</h3>
    <article class="home-blog-list__card" aria-label="Lorem Post 1">
      <img class="home-blog-list__card-image" src="https://dummyimage.com/332x185/ccc/333" alt="">
      <section class="home-blog-list__card-details">
        <h4 class="home-blog-list__card-title">How do you write a good Brand Story</h4>
        <time class="home-blog-list__card-date"><span class="home-blog-list__card-day">09</span><span
            class="home-blog-list__card-month">December 2022</span></time>
      </section>
    </article>

    <article class="home-blog-list__card" aria-label="Lorem Post 1">
      <img class="home-blog-list__card-image" src="https://dummyimage.com/332x185/ccc/333" alt="">
      <section class="home-blog-list__card-details">
        <h4 class="home-blog-list__card-title">How do you write a good Brand Story</h4>
        <time class="home-blog-list__card-date"><span class="home-blog-list__card-day">09</span><span
            class="home-blog-list__card-month">December 2022</span></time>
      </section>
    </article>

    <article class="home-blog-list__card" aria-label="Lorem Post 1">
      <img class="home-blog-list__card-image" src="https://dummyimage.com/332x185/ccc/333" alt="">
      <section class="home-blog-list__card-details">
        <h4 class="home-blog-list__card-title">How do you write a good Brand Story</h4>
        <time class="home-blog-list__card-date"><span class="home-blog-list__card-day">09</span><span
            class="home-blog-list__card-month">December 2022</span></time>
      </section>
    </article>


  </section>

  <section class="home-blog-list__btn">
    <h3 class="visually-hidden">View All Articles</h3>
    <a href="/" class="button">VIEW ALL ARTICLES</a>
  </section>
</article>
