<article aria-label="List of our Products" class="home-products">
    <header class="decorated-heading | container flow | ">
        <h3>Latest Works</h3>
        <h2 id="productsHeading">Some of our Work</h2>
    </header>
    <section aria-labelledby="productsHeading" class="home-products__list | hide-scrollbars">
        {% for product in site.products%}
        <article aria-label="{{ product.title }} Information Card" class="home-products__card">
            <img src="{{ product.img }}" alt="{{ product.imgAlt }}">
            <section class="home-products__info" aria-labelledby="{{ product.title }}Heading" data-expanded="false">
                <h3 class="home-products__card-header | truncate" id="{{ product.title }}Heading">{{ product.title }}</h3>
                <p class="home-products__summary | fade-text mb-5">{{product.summary}}</p>
                <a href="{{ product.link }}" class="icon-arrow-after">Learn more</a>
            </section>
        </article>
        {% endfor %}
    </section>
    <section class="home-products__description | container flex | mt-8" aria-label="Link to All Products">
        <a href="#" class="button">View all our products</a>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum eligendi deserunt ea quaerat quibusdam
            tempora aperiam fugiat vitae. Odit dicta consequuntur optio. Fugiat ab accusamus commodi impedit aliquam.
        </p>
    </section>
</article>
