<article aria-label="List of Freelance Services" class="home-services | container | shadow-200">
  <header aria-label="Freelance Services heading" class="home-services__header | flex">
    <section aria-label="Heading and Subtitle" class="flow">
      <h2 id="servicesHeading" class="weight-medium txt-clr-grey-300">Freelance <span class="txt-clr-grey-500">Services</span></h2>
      <section aria-label="Freelance services teaser" class="home-services__subtitle | flex">
        <img src="/assets/images/social/upwork-clr.png" alt="Upwork Icon">
        <p>Over 250+ Satisfied Clients</p>
      </section>
    </section>
    <p class="home-services__header-description" aria-label="Pullout Description" class="home-services__pullout | txt-clr-grey-500">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero ipsa odio aut repellat reiciendis.</p>
  </header>
  <section aria-label="List of Freelance Services" class="home-services__panel | flex">
      {% for service in site.services %}
      {% assign idx={{forloop.index}}%}
      
        <article class="readable-width" aria-label="{{ service.title }}"
          style="--service-counter-image: url(/assets/images/icons/{{idx}}-bullet.svg)">
          <section>
            <img src="{{ service.img }}" alt="{{ service.imgAlt}}">
            <h3>{{ service.title}}</h3>
            <p aria-label="Description of {{ service.title }} services">{{ service.description}}</p>
          </section>
        </article>
      {% endfor %}
  </section>
  <a class= "home-services__cta | button button-rounded | mt-10" href=""><img src="/assets/images/icons/money-icon.svg" /> Get a Quote</a>
</article>
