<article aria-label="Business Automation Pointers">
  <header>
    <h2 id="businessAutomationHeading">Should I Automate your business?</h2>
    <h3>Consultation Service</h3>
  </header>

  <section aria-label="Automation ideas for business">
    <article>
        <img src="https://dummyimage.com/60x60/ccc/bFb" alt="">
        <h3>Lorem Ipsum New</h3>
        <p>A lorem ipsum software for presenting and reprising indutry an revolution eA lorem ipsum software for presenting and reprising indutry an revolution etc for new</p>
    </article>
    <article>
        <img src="https://dummyimage.com/60x60/ccc/bFb" alt="">
        <h3>Lorem Ipsum New</h3>
        <p>A lorem ipsum software for presenting and reprising indutry an revolution eA lorem ipsum software for presenting and reprising indutry an revolution etc for new</p>
    </article>
    <article>
        <img src="https://dummyimage.com/60x60/ccc/bFb" alt="">
        <h3>Lorem Ipsum New</h3>
        <p>A lorem ipsum software for presenting and reprising indutry an revolution eA lorem ipsum software for presenting and reprising indutry an revolution etc for new</p>
    </article>
  </section>

  <aside>
    {% include contact-form.html %}
  </aside>
</article>