{% if include.isMain %}
    {% assign label = 'main'%}
    {% assign navProps = 'aria-expanded="false"'%}

{% else %}
    {% assign label = 'secondary'%}

{% endif %}
<article aria-label="Navigation Bar" class="nav nav-{{ label }}">
    {% if include.isMain %}
    <button aria-controls="Nav Button" class="nav-{{ label }}__control"><span class="visually-hidden">Menu</span></button>
    {% endif %}
    <nav {{ navProps }} aria-label="{{ label }}" class="nav-{{ label }}__bar" data-expanded="false">
        {% if include.isMain %}
        <header class="flex">
            <img class="nav__logo" src="/assets/images/logo-icon-only.svg" alt="Riaz Shageer Logo">
            <button class="nav-{{ label }}__control | nav-{{ label }}__close" aria-controls="nav-main__bar"><span class="visually-hidden">Close Menu</span></button>
        </header>
        {% endif %}
        <ul class="nav-{{ label }}__links | flex">
        {% for link in site.data.nav%}
            <li {% if page.url == link.link %} class="active" {% endif %}><a href="{{ link.link }}">{{link.text}}</a></li>    
        {% endfor%}
        </ul>
        {% if include.isMain %}
        <section class="nav-{{ label }}__btns | flow">
            <h2 class="visually-hidden">Set up A meeting</h2>
            <button><span>BOOK A MEETING</span></button>
            <button><span>START A CONTRACT</span></button>
        </section>
        {% endif %}
    </nav>
</article>
