body{
    // Typography
    font-family: var(--font-family-primary);
    font-size: var(--font-size-100);
    color: var(--text-clr, var(--clr-grey-500));

    // Box
    padding-block-start: 2.2rem;
    padding-block-end: 0;
    padding-inline: 0;
    overflow-x: hidden;
}

$headings: h1 h2 h3 h4 h5 h6;

@each $heading in $headings{
    #{$heading}{
        color: var(--heading-clr, var(--clr-grey-300));
        font-size: var(--#{$heading}-size, var(--font-size-500));
    }
}

:focus{
    outline: 1px dashed var(--clr-primary-500);               
}

a {
  text-decoration: none;
  color: var(--clr-primary-400);
  font-weight: 600;
}

@include touchHover('a'){
  color: var(--clr-primary-500);
}

p{
    color:var(--text-clr, inherit);
}
