$screen_lg: 1920px;
$screen_md: 1280px;
$screen_sm: 320px;

$font-sz-min: 16px;
$font-sz-max: 20px;
$font-h1-min: 36px;
$font-h1-max: 48px;
$font-h2-min: 30px;
$font-h2-max: 36px;
$font-h3-min: 18px;
$font-h3-max: 24px;
$bp-nav:700px;


// Utils
