
@for $i from 1 through length($spacing){
  $space: nth($spacing, $i);

  // Margins
  .mt-#{$i}{
    margin-top: $space;
  }
  .mb-#{$i}{
    margin-bottom: $space;
  }
  .ml-#{$i}{
    margin-left: $space;
  }
  .mr-#{$i}{
    margin-right: $space;
  }

  // Padding
  .pt-#{$i}{
    padding-top: $space;
  }
  .pb-#{$i}{
    padding-bottom: $space;
  }
  .pl-#{$i}{
    padding-left: $space;
  }
  .pr-#{$i}{
    padding-right: $space;
  }


}

.center-block{
  margin-inline: auto;
  display: block;
}
