.container{
  width: var(--container-width, 100%);
  max-width: var(--containter-max-width, 1140px);
  margin-inline: var( --container-margin-inline, auto);
}


// flex
.flow > * + * {
  margin-top: var(--flow-space, 1rem);
}

.flex {
  display: flex;
  gap: var(--flex-gap, 1rem);
  flex-wrap: wrap;
}

.col {
  flex-direction: column;
}

.row{
  flex-direction: row;
}


// full bleed
.full-bleed {
  width: 100vw;
  margin-left: calc(50% - 50vw);
}

.full-bleed > .container {
  padding-inline: 1rem;
}
