
.overlay{
    &::before{
        content: '';
        display: block;
        background-color: var(--clr-primary-400-alpha);
        z-index: 1;
        backdrop-filter: blur(.15rem);
        width: 100%;
        height: 100%;
    }

    &-full-screen::before{
        position: fixed;
        top: 0;
        left:0;
        width: 100vw;
        height: 100vh;
    }
}




// Shadows

.shadow-100 {
    box-shadow: var(--shadow-100);
}

.shadow-200 {
    box-shadow: var(--shadow-200);
}


.bg-dark{
    background: var(--clr-grey-200);
    --text-clr:white;
    --heading-clr: white;
}
