
.overlay::before {
    content: '';
    position: fixed;
    top: 0;
    left:0;
    width: 100vw;
    height: 100vh;
    background-color: var(--clr-primary-400-alpha);
    z-index: 1;
    backdrop-filter: blur(.15rem);
}


// Shadows

.shadow-100 {
    box-shadow: var(--shadow-100);
}

.shadow-200 {
    box-shadow: var(--shadow-200);
}