.txt-clr-primary-400 {
  color: var(--clr-primary-400);
}

.txt-clr-primary-500 {
  color: var(--clr-primary-500);
}

.txt-clr-grey-300 {
  color: var(--clr-grey-300);
}

.txt-clr-grey-500 {
  color: var(--clr-grey-500);
}

.txt-clr-grey-600 {
  color: var(--clr-grey-600);
}

.txt-clr-grey-700 {
  color: var(--clr-grey-700);
}


//Style
.weight-regular {
  font-weight: 400;
}

.weight-medium{
  font-weight: 500;
}
.semibold {
  font-weight: 600;
}


// Readability
.readable-width {
  max-width: 60ch;
}
