//Controls
input[type="text"],
input[type="email"],
textarea {
    border: none;
    border-bottom: 1px solid var(--input-border, var(--clr-grey-600));
    width: 100%;
    &:focus{
        --input-border: var(--clr-primary-400);
        outline: none;

        &::placeholder{
            color: var(--clr-primary-500);
        }
    }
}

textarea{
    resize: vertical;
}

.checkbox-btn{
    --btn-text: var(--clr-grey-300);
    --btn-border: var(--clr-grey-300);
    --btn-bg: white;

}
@include touchHover('.checkbox-btn'){
  --btn-text: var(--clr-primary-500);
  --btn-border: var(--clr-primary-500);
  --btn-bg: white;

}

// .checkbox-btn + input[type="checkbox"]:checked{
:checked + .checkbox-btn {
    --btn-text: var(--clr-primary-400);
    --btn-border: var(--clr-primary-400);
    --btn-bg: white;
}

// Groups
fieldset{
    border:none;
    margin: 0;
    padding: 0;
}
