:root{
  --font-family-primary: 'Public Sans', sans-serif;
  --font-family-secondary: 'Titillium Web', sans-serif;


  --font-size-100: 16px;
  --font-size-200: 18px;
  --font-size-300: 20px;
  --font-size-400: 24px;
  --font-size-500: 26px;
  --font-size-600: 32px;
  --font-size-700: 36px;
  --font-size-800: 42px;
  --font-size-900: 46px;

  --clr-primary-400: #2DB67D;
  --clr-primary-500: #199D66;

  --clr-primary-400-alpha: #2DB67D50;
  --clr-primary-500-alpha: #199D6650;

  --clr-grey-300: #333333;
  --clr-grey-500: #666666;
  --clr-grey-600: #8a8a8a;
  --clr-grey-700: #bdbdbd;

  --shadow-100: -4px 0px 16px rgba(0, 0, 0, 0.12);
  --shadow-200: 0px 12px 42px rgba(0, 0, 0, 0.12);
}

h1{
  font-family: var(--font-family-primary);
}
