// Screen Sizes
$screen-sm: 640px;
$screen-md: 1007px;


// Spacing;
$spacing: 4px, 8px, 12px, 16px, 24px, 32px, 48px, 64px, 96px, 128px, 192px, 256px, 384px, 512px, 640px, 768px; 


// Animation;
$animation: 250ms ease-in-out;

:root{
  --font-family-primary: 'Public Sans', sans-serif;
  --font-family-secondary: 'Titillium Web', sans-serif;


  --font-size-100: 16px;
  --font-size-200: 18px;
  --font-size-300: 20px;
  --font-size-400: 24px;
  --font-size-500: 26px;
  --font-size-600: 32px;
  --font-size-700: 36px;
  --font-size-800: 42px;
  --font-size-900: 46px;

  --clr-primary-400: #2DB67D;
  --clr-primary-500: #199D66;

  --clr-primary-400-alpha: #2DB67D50;
  --clr-primary-500-alpha: #199D6650;

  --clr-grey-200: #262626;
  --clr-grey-300: #333333;
  --clr-grey-500: #666666;
  --clr-grey-600: #8a8a8a;
  --clr-grey-700: #bdbdbd;

  --shadow-100: -4px 0px 16px rgba(0, 0, 0, 0.12);
  --shadow-200: 0px 12px 42px rgba(0, 0, 0, 0.12);
  
  --gradient-multi: linear-gradient(93deg, rgb(26, 89, 49) 0%, rgb(0, 37, 18) 12%, rgb(25, 25, 87) 24%, rgb(110, 177, 182) 44%, rgb(105, 239, 214) 53%, rgb(24, 249, 248) 70%, rgb(195, 252, 181) 90%, rgb(226, 253, 120) 100%);

}

h1{
  font-family: var(--font-family-primary);
}
